* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #333;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Code block language selector styles */
.bn-block-content[data-content-type="codeBlock"] > div[contenteditable="false"] > select {
  display: block;
  color: #d4d4d4;
  background-color: transparent;
}

.bn-block-content[data-content-type="codeBlock"] > div[contenteditable="false"] > select:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
